#titleBox {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    line-height: 2;
}
.urlInput {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
}
.urlEach {
    margin-right: 20px;
}
.urlItemBox {
    margin-bottom: 10px;
}
button {
    padding: 5px 10px;
    height: 40px;
    border-radius: 5px;
}
#saveBtn {
    background-color: rgb(131, 207, 248);
    color: white;
    margin: 10px 0px 0px 40px;
    border-color:rgb(133, 193, 242)
}
#deleteBtn {
    background-color: rgb(228, 148, 148);
    color: white;
    margin-left: 135px;
}