body {
    background-color: #6ba1b3;
}

#container {
    width: 200px;
    background-color: cadetblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgray;
    padding: 10px;
    margin: 10px 5px;
}

button {
    background-color: white;
    height: 40px;
    border-radius: 15px;
    font-style: italic;
}

